@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

.root {
    width: 450px;
    margin-right: 5px;
}

/* Classic */

.classicContainer {
    width: auto;
    display: flex;
}

.classicContainer .contentBar {
    margin-left: 60px;
    margin-top: 10px;
}

.classicContainer .pfp {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px solid red;
    position: absolute;
}

.classicContainer .ytlogo {
    width: 60px;
    position: absolute;
    left: 35px;
    top: 50px
}

.classicContainer .nameBar {
    padding: 7px;
    padding-left: 20px;
    background-color:#de3a36;
    color: white;
    width: 75%;
    border-radius: 0px 9px 0px 0px;
}

.classicContainer .nameBar span {
    margin-left: 15px;
}

.classicContainer .messageBar {
    padding: 10px;
    width: auto;
    background-color: white;
    border-radius: 0px 10px 10px 10px;
    padding-left: 35px;
}

/* Minimalist */

.minimalistContainer {
    margin-top: 20px;
    width: auto;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.1);
}

.minimalistContainer .topBar {
    display: flex;
    padding: 10px;
    align-items: center;
    background-color: rgba(255,255,255,.9);
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.minimalistContainer .topBar img {
    width: 30px;
    border-radius: 8px;
}

.minimalistContainer .topBar p {
    margin: 0;
    margin-left: 15px;
    color: #6c757d;
    font-weight: bold;
}

.minimalistContainer .contentBar {
    padding: 10px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.minimalistContainer .contentBar p {
    font-size: 1rem;
    margin: 5px;
    color: rgba(0,0,0,1);
}

/* Edge */

.edgeContainer {
    margin-top: 20px;
    border-bottom: 5px solid #f34036;
    display: flex;
    background-color: white;
    align-items: flex-start;
    border-radius: 7px 7px 0px 0px;
}

.edgeContainer img {
    border-radius: 100%;
    width: 40px;
    margin: 7px;
}

.edgeContainer .contentBar .name {
    margin: 0;
    margin-top: 10px;
    margin-left: 5px;
    color: red;
    font-weight: bold;
    font-size: .8rem;
}

.edgeContainer .contentBar .message {
    margin: 5px 5px 10px 5px;
    font-size: 1rem;
}

/* Dark */

.darkContainer {
    margin-top: 20px;
    background-color: #1f304a;
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
}

.darkContainer .pfp {
    display: none;
    width: 35px;
    margin: 20px;
    border-radius: 100%;
}

.darkContainer .ytlogo {
    width: 25px;
    margin: 20px;
}

.darkContainer .contentBar .name {
    margin: 20px 0px 0px 0px;
    font-size: 0.9rem;
    color: rgba(255,255,255,.5);
}

.darkContainer .contentBar .message {
    color: rgba(255,255,255,.7);
    margin: 10px 20px 20px 0px;
}

/* Clean */

.simpleContainer {
    display: flex;
    margin-top: 20px;
    background-color: white;
    border-left: 7px solid red;
}

.simpleContainer .pfpBlock {
    position: relative;
}

.simpleContainer .pfpBlock .pfp {
    height: 50px;
    margin: 10px;
}

.simpleContainer .pfpBlock .ytlogo {
    position: absolute;
    height: 30px;
    left: 35px;
    top: 40px;
}

.simpleContainer .contentBar .name {
    margin: 0;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 12px;
}

.simpleContainer .contentBar .message {
    margin: 5px 10px 10px 12px;
}

/* Superchat Clean */

.superchatContainer {
    display: flex;
    margin-top: 20px;
    background-color: white;
    border-left: 7px solid red;
}

.superchatContainer .pfpBlock {
    position: relative;
}

.superchatContainer .pfpBlock .pfp {
    height: 50px;
    margin: 10px;
}

.superchatContainer .pfpBlock .ytlogo {
    position: absolute;
    height: 30px;
    left: 35px;
    top: 40px;
}

.superchatContainer .contentBar .name {
    margin: 0;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 12px;
}

.superchatContainer .contentBar .message {
    margin: 5px 10px 10px 12px;
}

/* Superchat Clean Tiers */ 

.tierTwo {
    background-color: #00e5ff;
    border-left: 12px solid #00b8d4;
    color: #000000;
}

.tierThree {
    background-color: #1de9b6;
    border-left: 12px solid #00bfa5;
    color: #000000;
}

.tierFour {
    background-color: #ffca28;
    border-left: 12px solid #ffb300;
    color: #000000;
}

.tierFive {
    background-color: #f57c00;
    border-left: 12px solid #e65100;
    color: rgba(255, 255,255, 0.9);
}

.tierSix {
    background-color: #e91e63;
    border-left: 12px solid #c2185b;
    color: rgba(255, 255,255, 0.9);
}

.tierSeven {
    background-color: #e62117;
    border-left: 12px solid #d00000;
    color: rgba(255, 255,255, 0.9);
}

/* Superchat Normal */

.superchatNormalContainer {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 10px 60px auto;
    grid-template-rows: 10px 45px 10px auto;
    border-radius: 10px;
    width: auto;
}
  
.superchatNormalContainer .superchatPfp {
    border-radius: 50%;
    width: 45px;
    grid-column-start: 2;
    grid-row-start: 2;
}
  
.superchatNormalContainer .superchatDetails {
    grid-column-start: 3;
    grid-row-start: 2;
}
  
.superchatNormalContainer .superchatName {
    font-family: 'Roboto', sans-serif;
    font-size: 14;
    line-height: 1.5;
}
  
.superchatNormalContainer .superchatAmount {
    font-family: 'Roboto', sans-serif;
    font-size: 16;
}
  
.superchatNormalContainer .superchatContent {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    border-radius: 0px 0px 10px 10px;
}
  
.superchatNormalContainer .superchatText {
    margin: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Superchat Normal Tiers */

.noSuperchatContent .superchatContent {
    display: none;
}

    /* Tier One */
    .tierNormalOne {
        background-color: #1565c0;
    }

    .tierNormalOne .superchatContent {
        display: none;
    }

    .tierNormalOne .superchatName {
        color: rgb(255 255 255 / 70%);
    }

    .tierNormalOne .superchatAmount, .tierNormalOne .superchatText {
        color: #ffffff;
    }

    /* Tier Two */
    .tierNormalTwo {
        background-color: #00b8d4;
    }

    .tierNormalTwo .superchatContent {
        background-color: #00e5ff;
        display: block;
    }

    .tierNormalTwo .superchatName {
        color: #000000;
    }

    .tierNormalTwo .superchatAmount, .tierNormalTwo .superchatText {
        color: #000000;
    }

    /* Tier Three */
    .tierNormalThree {
        background-color: #00bfa5;
    }

    .tierNormalThree .superchatContent {
        background-color: #1de9b6;
        display: block;
    }

    .tierNormalThree .superchatName {
        color: #000000;
    }

    .tierNormalThree .superchatAmount, .tierNormalThree .superchatText {
        color: #000000;
    }
    
    /* Tier Four */
    .tierNormalFour {
        background-color: #ffb300;
    }

    .tierNormalFour .superchatContent {
        background-color: #ffca28;
        display: block;
    }

    .tierNormalFour .superchatName {
        color: #000000;
    }

    .tierNormalFour .superchatAmount, .tierNormalFour .superchatText {
        color: #000000;
    }

    /* Tier Five */
    .tierNormalFive {
        background-color: #e65100;
    }

    .tierNormalFive .superchatContent {
        background-color: #f57c00;
        display: block;
    }

    .tierNormalFive .superchatName {
        color: rgb(255 255 255 / 70%);
    }

    .tierNormalFive .superchatAmount, .tierNormalFive .superchatText {
        color: #ffffff;
    }

    /* Tier Six */
    .tierNormalSix {
        background-color: #c2185b;
    }

    .tierNormalSix .superchatContent {
        background-color: #e91e63;
        display: block;
    }

    .tierNormalSix .superchatName {
        color: rgb(255 255 255 / 70%);
    }

    .tierNormalSix .superchatAmount, .tierNormalSix .superchatText {
        color: #ffffff;
    }

    /* Tier Seven */
    .tierNormalSeven {
        background-color: #d00000;
    }

    .tierNormalSeven .superchatContent {
        background-color: #e62117;
        display: block;
    }

    .tierNormalSeven .superchatName {
        color: rgb(255 255 255 / 70%);
    }

    .tierNormalSeven .superchatAmount, .tierNormalSeven .superchatText {
        color: #ffffff;
    }