body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space 
  background: transparent;  /* Optional: just make scrollbar invisible 
}*/

/* Container */

.appContainer {
  display: grid;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 20px 50px 1fr 1fr 20px;
  grid-template-rows: 20px 50px 20px 1fr auto;
}

/* Top Bar */

.topBar {
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.topBar i {
  color: grey;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.5em;
}

.topBar i:hover {
  color: black;
}

.selected {
  color: black !important;
}

/* Pfp */

.pfp {
  grid-column: 2;
  width: 50px;
  grid-row: 2;
}

/* Details */

.details {
  grid-column: 3;
  grid-row: 2;
  margin-left: 15px;
  align-self: center;
}

.details h6 {
  line-height: 0.5;
  margin: 0;
}

.details a {
  font-size: small;
  text-decoration:none;
}

/* StreamButton */

.streamButton {
  grid-column: 4;
  grid-row: 2;
  width: 100px;
  align-self: center;
  justify-self: end;
}

/* ChatBox */

.chatBox {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow-y:hidden;
}

.chatBoxHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatBoxHeader h6 {
  margin: 20px 0px 20px 20px;
  padding: 0;
}

.chatBoxHeader .toolbar {
  margin-right: 20px;
}

.chatBoxHeader .helpButton {
  width: 20px;
  padding-top: 5px;
  margin-right: 5px;
  cursor:pointer;
}

.chatBoxHeader .settingsButton {
  width: 18px;
  padding-top: 5px;
  cursor:pointer;
}

.chatBoxHeader img:hover {
  opacity: 0.7;
}

.chatBoxContent {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x:hidden;
  height: auto;
  justify-content: start;
}

.chatBoxContent .loading {
  display: none;
}

.chatBoxContent .chat:nth-child(2) {
  margin-top: 15px;
}

.chatBoxLoading {
  height: 100%;
  justify-content: center;
}

.chatBoxLoading .loading {
  display: block;
  align-self: center;
  color: rgba(0,0,0,0.5);
  font-size: small;
}

.chatBoxLoading .loading::after {
  content: "sdad";
  animation: loadingAnimation 4s infinite;
}

.chatBoxLoading .chat {
  display: none;
}

@keyframes loadingAnimation {
  0% {content: "";}
  25% {content: ".";}
  50% {content: "..";}
  75% {content: "...";}
  100% {content: "....";}
}

/* Scroll Arrow */

.scrollArrow {
  opacity: 90%;
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 55px;
  border-radius: 100%;
  left: calc(50% - 15px);
  background-color: #3498db;
}

.scrollArrow img {
  display:block;
  margin:auto;
  margin-top: 10px;
  width: 12px;
  transform: rotate(90deg);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.scrollArrow:hover {
  cursor: pointer;
}

/* Chat */

.chat {
  display: grid;
  grid-template-columns: 30px 10px 1fr 70px;
  grid-template-rows: 15px auto;
  margin: 0px 10px 15px 10px;
}
 
.chatPfp {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 30px;
  border-radius: 50%;
}

.chatPlatformLogo {
  width: 15px;
  grid-column: 1;
  grid-row: 2;
  margin-top: 3px;
  margin-left: 17px;
}

.chatName {
  grid-column: 3;
  grid-row: 1;
  font-size: small;
  margin-bottom: 0;
}

.chatMessage {
  grid-column: 3;
  grid-row: 2;
  font-size: small;
  margin: 0;
}

.chatButton {
  grid-column: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 25px;
  width: 60px;
  align-self: center;
  font-size: x-small;
  justify-self: end;
}

/* Superchat */

.superchat {
  display: grid;
  grid-template-columns: 10px 40px 10px 1fr 10px;
  grid-template-rows: 10px 15px 25px 10px auto;
  margin: 0px 10px 15px 10px;
  border-radius: 10px;
}

.superchatPfp {
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 40px;
  border-radius: 50px;
}

.superchatName {
  grid-column: 4;
  grid-row: 2;
  font-size: small;
}

.superchatAmount {
  grid-column: 4;
  grid-row: 3;
  font-size: medium;
}

.superchatButton {
  grid-row-start: 2;
  grid-row-end: 4;
  align-self: center;
  grid-column: 4;
  justify-self: end;
  height: 25px;
  width: 60px;
  font-size: x-small;
}

.superchatMessage {
  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: 6;
  border-radius: 0 0 10px 10px;
}

.superchatMessage * {
  font-weight: normal;
  margin: 10px;
  font-size: small;
}

/* Owner Implementation */

.ownerChat {
  grid-template-rows: 20px auto;
}

.ownerName {
  background-color: #ffd600;
  padding: 2px 7px 2px 7px;
  border-radius: 3px;
  display: inline-block;
}

/* Moderator Implementation */

.moderatorName {
  color: #4684f1;
}

/* Footer */

#version {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 5;
  margin: 10px 0 10px 0;
  padding: 0;
  justify-self: center;
  align-self: end;
  font-size: .7em;
  font-weight: lighter;
}

/* Login Container */

.loginBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e5e5f7;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #78cfba 0, #78cfba 1px, #e5e5f7 0, #e5e5f7 50%);
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  box-shadow: 3px 3px 3px #cccccc;
  background-color: white;
}

.loginLogo {
  width: 35px;
  margin-bottom: 20px;
}

.loginText {
  font-weight:600;
  color: #757575;
  font-size: 0.9em;
  margin-bottom: 30px;
  text-align: center;
}

/* Login Button */

.loginButton {
  display: flex;
  width: 200px;
  height: 40px;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 3px #cccccc;
}

.loginButton:hover {
  opacity: 0.8;
}

.loginButton img {
  width: 15px;
  margin-right: 15px;
}

.loginButton p {
  color: #757575;
  font-weight:600;
  font-size: small;
  line-height: 0;
  margin: 0;
}

.signInLoad {
  display: none;
}

.signInStart {
  display: block;
}

.signInStart ~ * {
  display: none;
}

/* Swal */

.swal-wide{
  max-width: 500px !important;
}