<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="https://twidgetapp.web.app/images/icon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="https://twidgetapp.web.app/images/icon.ico" type="image/x-icon"/>
  <title>Logged In!</title>
  <link rel="stylesheet" href="https://twidgetapp.web.app/css/404.css">
</head>

<body>
  <header style="justify-content: center;">
    <a class="branding">
      <img src="https://twidgetapp.web.app/images/logo.png" alt="Twidget Logo" class="logo" />
      <h2 class="brandName">twidget</h2>
    </a>
  </header>
  <main>
    <header>
      <h1>Logged In to Twidget<br /> <span>Success!</span> </h1>
      <p>You have successfully logged in to your Twidget account. You may now return to the Twidget app.</p>
    </header>
  </main>
</body>

</html>