<!DOCTYPE html>
<html>
    <head>
        <title>Logged In!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/oauth.css">
    </head>
    <body>
        <div class="container">
            <h1>LOGGED IN!</h1>
            <p>You can close this page and return to the Twidget app</p>
        </div>
    </body>
</html>