<!DOCTYPE html>
<html>

<head>
    <title>Twidget Source</title>
    <meta charset="UTF-8">
    <title>Twidget Source</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/sourceDesigns/classic.css">
</head>

<body>
    <div class="root">
        <div class="classicContainer">
            <img class="pfp" src="https://yt3.ggpht.com/yti/ANoDKi42s1_r8lKyjNm3hdBq3rBZDn6FwnINks0tGJnM2Q=s88-c-k-c0x00ffffff-no-rj-mo">
            <img class="ytlogo" src="/static/images/yt-logo.png">
            <div class="contentBar">
                <div class="nameBar">
                    <span>Zacky VT</span>
                </div>
                <div class="messageBar">
                    <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</span>
                </div>
            </div>
        </div>
    
        <div class="minimalistContainer">
            <div class="topBar">
                <img class="pfp" src="https://yt3.ggpht.com/yti/ANoDKi42s1_r8lKyjNm3hdBq3rBZDn6FwnINks0tGJnM2Q=s88-c-k-c0x00ffffff-no-rj-mo">
                <p>Zacky VT</p>
            </div>
            <div class="contentBar">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</p>
            </div>
        </div>

        <div class="edgeContainer">
            <img class="pfp" src="https://yt3.ggpht.com/yti/ANoDKi42s1_r8lKyjNm3hdBq3rBZDn6FwnINks0tGJnM2Q=s88-c-k-c0x00ffffff-no-rj-mo">
            <div class="contentBar">
                <p class="name">Zacky VT</p>
                <p class="message">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu
                </p>
            </div>
        </div>

        <div class="darkContainer">
            <img class="pfp" src="https://yt3.ggpht.com/yti/ANoDKi42s1_r8lKyjNm3hdBq3rBZDn6FwnINks0tGJnM2Q=s88-c-k-c0x00ffffff-no-rj-mo">
            <img class="ytlogo" src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c545.png">
            <div class="contentBar">
                <p class="name">Zacky VT</p>
                <p class="message">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu
                </p>
            </div>
        </div>

        <div class="simpleContainer">
            <div class="pfpBlock">
                <img class="pfp" src="https://yt3.ggpht.com/yti/ANoDKi42s1_r8lKyjNm3hdBq3rBZDn6FwnINks0tGJnM2Q=s88-c-k-c0x00ffffff-no-rj-mo">
                <img class="ytlogo" src="/static/images/yt-logo.png">
            </div>
            <div class="contentBar">
                <p class="name">Zacky VT</p>
                <p class="message">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu
                </p>
            </div>
        </div>

        <div class="superchatContainer tierThree">
            <div class="pfpBlock">
                <img class="pfp" src="https://yt3.ggpht.com/yti/ANoDKi42s1_r8lKyjNm3hdBq3rBZDn6FwnINks0tGJnM2Q=s88-c-k-c0x00ffffff-no-rj-mo">
                <img class="ytlogo" src="/static/images/yt-logo.png">
            </div>
            <div class="contentBar">
                <p class="name">Zacky VT - $19.99</p>
                <p class="message">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu
                </p>
            </div>
        </div>

        <div class="superchatContainer tierSix">
            <div class="pfpBlock">
                <img class="pfp" src="https://yt3.ggpht.com/yti/ANoDKi42s1_r8lKyjNm3hdBq3rBZDn6FwnINks0tGJnM2Q=s88-c-k-c0x00ffffff-no-rj-mo">
                <img class="ytlogo" src="/static/images/yt-logo.png">
            </div>
            <div class="contentBar">
                <p class="name">Zacky VT - $19.99</p>
                <p class="message">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu
                </p>
            </div>
        </div>


        <div class="superchatNormalContainer tierNormalOne">
            <img class="superchatPfp" src="https://yt3.ggpht.com/yti/ANoDKi42s1_r8lKyjNm3hdBq3rBZDn6FwnINks0tGJnM2Q=s88-c-k-c0x00ffffff-no-rj-mo"/>   
            <div class="superchatDetails">
                <span class="superchatName">Zacky VT</span>
                <br/>
                <span class="superchatAmount">$19.99</span>
            </div>
             <div class="superchatContent">
               <p class="superchatText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</p>
             </div>
        </div>

        <div class="superchatNormalContainer tierNormalTwo">
            <img class="superchatPfp" src="https://yt3.ggpht.com/yti/ANoDKi42s1_r8lKyjNm3hdBq3rBZDn6FwnINks0tGJnM2Q=s88-c-k-c0x00ffffff-no-rj-mo"/>   
            <div class="superchatDetails">
                <span class="superchatName">Zacky VT</span>
                <br/>
                <span class="superchatAmount">$19.99</span>
            </div>
             <div class="superchatContent">
               <p class="superchatText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</p>
             </div>
        </div>

        <div class="superchatNormalContainer tierNormalThree">
            <img class="superchatPfp" src="https://yt3.ggpht.com/yti/ANoDKi42s1_r8lKyjNm3hdBq3rBZDn6FwnINks0tGJnM2Q=s88-c-k-c0x00ffffff-no-rj-mo"/>   
            <div class="superchatDetails">
                <span class="superchatName">Zacky VT</span>
                <br/>
                <span class="superchatAmount">$19.99</span>
            </div>
             <div class="superchatContent">
               <p class="superchatText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</p>
             </div>
        </div>

        <div class="superchatNormalContainer tierNormalFour">
            <img class="superchatPfp" src="https://yt3.ggpht.com/yti/ANoDKi42s1_r8lKyjNm3hdBq3rBZDn6FwnINks0tGJnM2Q=s88-c-k-c0x00ffffff-no-rj-mo"/>   
            <div class="superchatDetails">
                <span class="superchatName">Zacky VT</span>
                <br/>
                <span class="superchatAmount">$19.99</span>
            </div>
             <div class="superchatContent">
               <p class="superchatText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</p>
             </div>
        </div>

        <div class="superchatNormalContainer tierNormalFive">
            <img class="superchatPfp" src="https://yt3.ggpht.com/yti/ANoDKi42s1_r8lKyjNm3hdBq3rBZDn6FwnINks0tGJnM2Q=s88-c-k-c0x00ffffff-no-rj-mo"/>   
            <div class="superchatDetails">
                <span class="superchatName">Zacky VT</span>
                <br/>
                <span class="superchatAmount">$19.99</span>
            </div>
             <div class="superchatContent">
               <p class="superchatText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</p>
             </div>
        </div>

        <div class="superchatNormalContainer tierNormalSix">
            <img class="superchatPfp" src="https://yt3.ggpht.com/yti/ANoDKi42s1_r8lKyjNm3hdBq3rBZDn6FwnINks0tGJnM2Q=s88-c-k-c0x00ffffff-no-rj-mo"/>   
            <div class="superchatDetails">
                <span class="superchatName">Zacky VT</span>
                <br/>
                <span class="superchatAmount">$19.99</span>
            </div>
             <div class="superchatContent">
               <p class="superchatText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</p>
             </div>
        </div>

        <div class="superchatNormalContainer tierNormalSeven">
            <img class="superchatPfp" src="https://yt3.ggpht.com/yti/ANoDKi42s1_r8lKyjNm3hdBq3rBZDn6FwnINks0tGJnM2Q=s88-c-k-c0x00ffffff-no-rj-mo"/>   
            <div class="superchatDetails">
                <span class="superchatName">Zacky VT</span>
                <br/>
                <span class="superchatAmount">$19.99</span>
            </div>
             <div class="superchatContent">
               <p class="superchatText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</p>
             </div>
        </div>
    </div>

    <!--
    <div class="alert" style="display: none">
        This is an alert box.
    </div>

    <div class="comment" id="chatMessageContainer">
        <div class="name-box"><span id="name"></span><img src="" class="nameIcon"/></div>
        <div class="comment-box" id="chatMessage"></div>
        <div class="pfp-circle"><img src="" id="pfp"></div>
        <div class="yt-logo">
            <img src="/static/images/yt-logo.png">
        </div>
    </div>

    <div class="superchat" id="superchatContainer">
        <img class="superchatPfp" src="undefined"/>   
        <div class="superchatDetails">
            <span class="superchatName">undefined</span>
            <br/>
            <span class="superchatAmount">undefined</span>
        </div>
         <div class="superchatContent">
           <p class="superchatText">undefined</p>
         </div>
    </div>

    <p style="display: none;" id="credential"><%= credential %></p>

    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
     <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-database.js"></script>
     <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-analytics.js"></script>

    <script src="/static/js/chat.js"></script>
    <script src="/static/js/superchat.js"></script>
    <script src="/static/js/source.js"></script>-->
</body>

</html>