<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Twidget</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a1066841ff.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.7/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>

<body class="loginBody">
    <div class="loginContainer border">
        <div class="signInLoad spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        <img class="loginLogo" src="../assets/images/logo.png">
        <p class="loginText">Sign in using your Google account <br/> to start using Twidget!</p>
        <button id="loginButton" class="loginButton border">
            <img src="../assets/images/googleicon.png">
            <p class="display-6">Sign in with Google</p>
        </button>
    </div>

    <script type="module" src="../App/Login.js"></script>
</body>

</html>