@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

.root {
    width: 100vw;
    margin-right: 5px;
}

.alert {
    width: auto;
    background-color: #ff0033;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

/* ready message */

.readyMessage {
    background-color: #deeeea;
    color: #231e23;
    padding: 15px;
    border: 0.5px solid #bf1363;
    border-left: 7.5px solid #bf1363;
    border-radius: 0 10px 10px 0;
}

.readyMessage h6 {
    margin: 0;
    font-size: medium;
    text-transform: capitalize;
}