@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

.root {
    width: 100vw;
    margin-right: 5px;
}

.alert {
    width: auto;
    background-color: #ff0033;
    color: white;
    padding: 20px;
    border-radius: 10px;
}