@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #0096a6;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container h1, p {
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}

.container p {
    letter-spacing: 0.05rem;
    font-size: 1.2rem;
}

.container h1 {
    text-shadow: 4px 4px #00727c;
    margin-bottom: 1rem;
    font-size: 4rem;
}

@media only screen and (max-width: 620px) {
    html {
        font-size: 12px;
    }
}