body {
  margin: 0;
  padding: 0;
}

/*::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space 
  background: transparent;  /* Optional: just make scrollbar invisible 
}*/

/* Container */

.appContainer {
  display: grid;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 20px 50px 1fr 1fr 20px;
  grid-template-rows: 20px 50px 20px 1fr auto;
}

/* Top Bar */

.topBar {
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.topBar i {
  color: grey;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.5em;
}

.topBar i:hover {
  color: black;
}

.selected {
  color: black !important;
}

/* Pfp */

.pfp {
  grid-column: 2;
  width: 50px;
  grid-row: 2;
}

/* Details */

.details {
  grid-column: 3;
  grid-row: 2;
  margin-left: 15px;
  align-self: center;
}

.details h6 {
  line-height: 0.5;
  margin: 0;
}

.details a {
  font-size: small;
  text-decoration:none;
}

/* StreamButton */

.streamButton {
  grid-column: 4;
  grid-row: 2;
  width: 100px;
  align-self: center;
  justify-self: end;
}

/* ChatBox */

.chatBox {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow-y:hidden;
}

.chatBoxHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatBoxHeader h6 {
  margin: 20px 0px 20px 20px;
  padding: 0;
}

.chatBoxHeader img {
  width: 20px;
  margin-right: 20px;
  padding-top: 5px;
  cursor:pointer;
}

.chatBoxHeader img:hover {
  opacity: 0.7;
}

.chatBoxContent {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.chatBoxContent .chat:first-child {
  margin-top: 15px;
}

/* Chat */

.chat {
  display: grid;
  grid-template-columns: 30px 10px 1fr 70px;
  grid-template-rows: 15px auto;
  margin: 0px 10px 15px 10px;
}

.chatPfp {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 30px;
  border-radius: 50%;
}

.chatName {
  grid-column: 3;
  grid-row: 1;
  font-size: small;
}

.chatMessage {
  grid-column: 3;
  grid-row: 2;
  font-size: small;
  margin: 0;
}

.chatButton {
  grid-column: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 25px;
  width: 60px;
  align-self: center;
  font-size: x-small;
  justify-self: end;
}

/* Superchat */

.superchat {
  display: grid;
  grid-template-columns: 10px 40px 10px 1fr 10px;
  grid-template-rows: 10px 15px 25px 10px auto;
  margin: 0px 10px 15px 10px;
  border-radius: 10px;
}

.superchatPfp {
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 40px;
  border-radius: 50px;
}

.superchatName {
  grid-column: 4;
  grid-row: 2;
  font-size: small;
}

.superchatAmount {
  grid-column: 4;
  grid-row: 3;
  font-size: medium;
}

.superchatButton {
  grid-row-start: 2;
  grid-row-end: 4;
  align-self: center;
  grid-column: 4;
  justify-self: end;
  height: 25px;
  width: 60px;
  font-size: x-small;
}

.superchatMessage {
  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: 6;
  border-radius: 0 0 10px 10px;
}

.superchatMessage * {
  font-weight: normal;
  margin: 10px;
  font-size: small;
}

/* Footer */

#version {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 5;
  margin: 10px 0 10px 0;
  padding: 0;
  justify-self: center;
  align-self: end;
  font-size: .7em;
  font-weight: lighter;
}

/* Login Container */

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.loginLogo {
  margin-bottom: 50px;
  width: 70px;
}

.loginText {
  font-size:large;
  margin-bottom: 20px;
}

/* Login Button */

.loginButton {
  display: flex;
  width: 200px;
  height: 40px;
  align-items: center;
}

.loginButton:hover {
  border-color: grey !important;
}

.loginButton img {
  width: 20px;
}

.loginButton p {
  margin: 0px 0px 0px 15px;
  padding-bottom: 2px;
  font-size: small;
  line-height: 0;
}

.signInLoad {
  margin-top: 50px;
}