.edgeContainer {
    display: flex;
    background-color: white;
    align-items: flex-start;
    border-radius: 7px 7px 0px 0px;
}

.edgeContainer img {
    border-radius: 100%;
    width: 40px;
    margin: 7px;
}

.edgeContainer .contentBar .name {
    margin: 0;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: bold;
    font-size: .8rem;
}

.edgeContainer .contentBar .message {
    margin: 5px 5px 10px 5px;
    font-size: 1rem;
}

/* youtube platform */

.youtubePlatform {
    border-bottom: 5px solid #f34036;
}

.youtubePlatform .contentBar .name {
    color: red;
}

/* facebook platform */

.facebookPlatform {
    border-bottom: 5px solid #2980b9;
}

.facebookPlatform .contentBar .name {
    color: #2980b9;
}

/* twitch platform */

.twitchPlatform {
    border-bottom: 5px solid #6441a5;
}

.twitchPlatform .contentBar .name {
    color: #6441a5;
}