<div class="optionBlock">
    <h6>OBS Chat Template: </h6>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="textMessageOption" id="textMessageOption1">
        <label class="form-check-label" for="textMessageOption1">
          Classic
        </label>
        <img src="../assets/images/templateImages/classic.png"/>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="textMessageOption" id="textMessageOption2">
        <label class="form-check-label" for="textMessageOption2">
          Minimalist
        </label>
        <img src="../assets/images/templateImages/minimalist.png"/>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="textMessageOption" id="textMessageOption3">
        <label class="form-check-label" for="textMessageOption3">
          Edge
        </label>
        <img src="../assets/images/templateImages/edge.png"/>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="textMessageOption" id="textMessageOption4">
        <label class="form-check-label" for="textMessageOption4">
          Dark
        </label>
        <img src="../assets/images/templateImages/dark.png"/>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="textMessageOption" id="textMessageOption5" checked>
        <label class="form-check-label" for="textMessageOption5">
          Clean
        </label>
        <img src="../assets/images/templateImages/clean.png"/>
      </div>
</div>

<div class="optionBlock">
    <h6>OBS Superchat Template: </h6>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="superchatOption" id="superchatOption1">
        <label class="form-check-label" for="superchatOption1">
          Superchat Standard
        </label>
        <img src="../assets/images/templateImages/superchatNormal.png"/>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="superchatOption" id="superchatOption2" checked>
        <label class="form-check-label" for="superchatOption2">
          Superchat Clean
        </label>
        <img src="../assets/images/templateImages/superchatClean.png"/>
      </div>
</div>

<div class="optionBlock">
    <h6>OBS Supersticker Template: </h6>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="superstickerOption" id="superstickerOption1" checked>
        <label class="form-check-label" for="superchatOption1">
          Supersticker Standard
        </label>
        <img src="../assets/images/templateImages/superstickerNormal.png"/>
      </div>
</div>

<style>
    label {
      display: block;
        font-size: small;
    }

    .form-check img {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .form-check {
        text-align: left;
    }

    .optionBlock {
        text-align: left;
    }

    .optionBlock h6 {
        margin-bottom: 5px;
    }

    .optionBlock + .optionBlock {
        margin-top: 50px;
    }

    @media only screen and (max-width: 510px) {
      .form-check img {
        width: 100%;
      }
    }
</style>